<main>
  <section>
    <div id="banner">
      <div class="banner-content">
        <div class="title">
        Bienvenue
        </div>
        <div class="btn-banner">
          <a class="btn-light-green" href="<%= about_path %>">A propos</a>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="tab-nav">

      <input id="tab1" type="radio" name="tabs" checked>
      <label for="tab1">Histoire</label>

      <input id="tab2" type="radio" name="tabs">
      <label for="tab2">Techniques</label>

      <input id="tab3" type="radio" name="tabs">
      <label for="tab3">Styles</label>

      <div class="content">
        <div id="content1">
        <p>
         L'art urbain a une très longue histoire multiple et complexe. Cela s'explique notamment par la non différenciation des pratiques composant les arts urbains, regroupées selon C215 «&nbsp;sous le terme fourre-tout <i>street art</i>&nbsp;». Il existe depuis les années 1960 une prise en compte de l'environnement urbain dans la création contemporaine. Allan Kaprow, un des premiers artistes à utiliser les installations, écrit que <span class="citation">«&nbsp;L'art s'est déplacé de l'objet spécialisé en galerie vers l'environnement urbain réel&nbsp;»</span>
       </p>
        <p>
          En France, les années 1960 voient également des expérimentations d'intégration de l'art dans la ville. L'une des premières expériences est l'organisation d'un symposium international de sculpture, en 1968 à Grenoble, qui impulse la création de dizaines d'œuvres dans la ville, dont celles de Mizui, Victor Vasarely, Calder… En 1972, à Villeneuve de Grenoble, des plasticiens ont participé à la conception du volume de la galerie de l'Arlequin. Des contacts sont pris avec Jean Dewasne, mais la tentative tourne court. La décoration est finalement confiée à Henri Ciriani et Borja Huidobro. Une fresque est réalisée sur la nouvelle bourse du travail par Ernest Pignon-Ernest, considéré comme l'un des précurseurs de l'art urbain. D'autres expériences sont imaginées dans les villes nouvelles, comme à Évry, en 1972, et à Marne-la-Vallée.
        </p>
        <p>
          L'art urbain en tant qu'initiative individuelle commence à s'épanouir en France à partir de Mai 19684.
        </p>
        <br>
        <span class="button">
          <a class="btn-blue" href="<%= about_path %>">En savoir plus</a>
        </span>
        </div>

        <div id="content2">
        <p>
          <ul>
            <li>le graffiti</li>
            <li>l'affiche</li>
            <li>l'animation (montage vidéo à partir d'images prises dans la rue)</li>
            <li>l'installation</li>
            <li>la mosaïque et le carrelage</li>
            <li>la peinture</li>
            <li>le pochoir</li>
            <li>le tape art (création d'œuvres uniquement à l'aide de ruban adhésif)</li>
            <li>le yarn bombing, reposant sur le tricot</li>
          </ul>
        </p>
        <p>
          Il existe évidemment de nombreuses autres formes de Street art beaucoup moins courantes car plus complexe à réaliser. Le Street art ne semble pas avoir de limite à sa création.
        </p>
        <br>
        <span class="button">
          <a class="btn-blue" href="<%= about_path %>">En savoir plus</a>
        </span>
        </div>

        <div id="content3">
        <p>
          Les origine du Street art sont très ancienne, elles remontent à l’apparition des premiers tag cependant l'appellation “ Street art” est très récente elle reflète un changement de penseé et de culture. En effet il y a deux types de personne : celles qui pensent que le Streets art est un acte de vandalisme et celles qui pensent que c’est une forme d’art à part entière. Certes la réputation du graffiti n’a pas joué en faveur du Streets art car certain graffeur/tagueur ne sont pas réellement de vrai artistes, c’est à dire que leurs but est d’imposer leur “blaze” sur les murs des villes. Les blazes sont les surnoms que les graffeurs se donnent et qu’ils écrivent sur les espaces publics souvent de manière styliser mais relativement simple et d’une seul couleur. Ces graffeurs ne sont pas souvent appréciée du public car l’écriture de leurs surnoms ne peut pas réellement être considéré comme de l’art et n’a aucun but artistique. Cependant tous les graffeurs ne rentrent pas dans cette catégorie, certains réalisent des fresques ou des graffiti sur toile ou sur panneau qui sont affichés dans des galeries d’art, certaines ont une valeur marchande égale voir même supérieure à des toiles de grand peintre. C’est le cas notamment des œuvre de Basquiat.
        </p>
        <br>
        <span class="button">
          <a class="btn-blue" href="<%= about_path %>">En savoir plus</a>
        </span>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="all-cards">
      <div class="card-1">
        <div class="card-avatar">
          <%= image_tag('avatar.jpg', alt: 'Avatar', id: 'avatar-small') %>
        </div>
        <div class="card-tag">
          #streetart
        </div>
        <div class="card-title">
          <h4>Street art</h4>
        </div>
        <div class="card-description">
          <p>La rue nous appartient</p>
        </div>
      </div>
      <div class="card-2">
        <div class="card-avatar">
          <%= image_tag('avatar.jpg', alt: 'Avatar', id: 'avatar-small') %>
        </div>
        <div class="card-tag">
          #streetartist
        </div>
        <div class="card-title">
          <h4>Artiste</h4>
        </div>
        <div class="card-description">
          <p>Savoir s'exprimer</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="bottom-btn">
        <a class="btn-pink" href="<%= contact_path %>">Mon portfolio</a>
      </div>
  </section>

</main>

